<h1>This is your property listed</h1>
Details: <%= @property.description %>
<br />

<br />
  <a href="/properties/<%= @property.id %>/edit">Edit Property</a>

<br>
  <form action="/properties/<%= @property.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" />
  </form>
<br />
