<h1> Please fill in your details below:</h1>

<form action="/properties" method="POST">
  <label for="description">Description</label>
  <textarea name="description"></textarea>
  <input type="submit" value="Submit" id="submit_btn">
</form>


