<h1> Please fill in your details below:</h1>

<form action="/users" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <lable for="email">Email</lable>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit" id="submit_btn"/>
</form>
